.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  app-header {
    flex-shrink: 0;
    z-index: 1000;
    background: var(--card-bg);
    border: var(--card-border);
    padding: 2rem;
  }

  .content-area {
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;

    app-side-menu {
      width: 0;
      transition: width 0.3s ease;
      flex-shrink: 0;
      border-right: 1px solid var(--surface-border);
      overflow: hidden;
      display: block;
      height: 100vh;
      background: var(--card-bg);

      &.open {
        width: 250px; /* Sidebar width */
      }
      .sidebar-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
    .page-content {
      flex: 1;
      min-width: 0;
      transition: margin-left 0.3s ease;
      padding: 1rem;
      overflow-y: auto;
      background-color: var(--surface-ground);

      &.sidebar-open {
        margin-left: 0; /* no shift */
      }
    }
  }
}
